* {
    margin: 0;
}

header h1 {
    text-align: center;
    background-color: teal;
    color: white;
}

main {
    margin: 10px;
}


label {
    font-weight: bold;
}
.btn-info {
    border: none;
}

.Low {
    background-color: rgb(127, 255, 71, 0.8);
}

.Moderate {
    background-color: rgb(255, 255, 0, 0.8);
}

.High {
    background-color: rgb(255, 100, 0, 0.8);
}

.VeryHigh {
    background-color: rgb(255, 0, 0, 0.8);
}

.capitalize {
    text-transform: capitalize;
}