* {
    margin: 0;
}

header h1 {
    text-align: center;
    
}

main {
    margin: 10px;
}

.Low {
    background-color: rgb(127, 255, 71, 0.8);
}

.Moderate {
    background-color: rgb(255, 255, 0, 0.8);
}

.High {
    background-color: rgb(255, 100, 0, 0.8);
}

.VeryHigh {
    background-color: rgb(255, 0, 0, 0.8);
}

.capitalize {
    text-transform: capitalize;
}